{% extends 'tutorsite/base.html' %} {% load static %} {% block content %}
<div class="jumbotron text-center title">
  <h1>About Us<hr></h1><br>
  <h5>We are a dedicated team of tutors here to help students looking to succeed in academics.<br><br>
  We've all been there. We know how it feels. Let us help you and we wil get there together.
</h5>
</div>

<section class="section section-content py-4 white">
  <div class="container">
    <div class="row no-gutters align-items-center" style="border: 1px solid #e1e1e1;">
      <div class="col-md-6 text-center">
        <img src="{% static 'tutorsite/img/joon.png'%}" alt="Our founder, Joon Yi" class=" alignnone imageclip  wp-image-10621 img-fluid lazyloaded">
      </div>
      <div class="col-md-6">
        <div class="py-4 px-4 py-md-5 px-md-5">
          <h3>Our Founder<hr></h3>
          <p class="mb-0">Joon found L33T Tutors with a goal of helping others reach their academic goals.</p><br>
          <p> After graduating with a Bachelor of Science degree in Astrophysics from UCLA, and tutoring various students, he realized that the key to studying well is having
            a great tutor who can easily explain the problem. His personal experiences include having taken AP Biology, AP Chemistry, AP Calculus, AP Physics, and receiving a perfect 800 on SAT Math. Some of the activities participated include
            Science Bowl, Academic Decathlon and Mock Trial where he played the role of a Prosecutor and a Defense Attorney.</p>
      </div>
      </div>
    </div>


    <div class="row no-gutters align-items-center mt-4 mt-md-5" style="border: 1px solid #e1e1e1;">
      <div class="col-md-6 md-6">
        <div class="py-4 px-4 py-md-5 px-md-5">
          <h3>Started from the Bottom<hr></h3>
          <p class="mb-0">Starting with a single math tutor session, Elite Tutors has quickly grown into a business helping students who seek help.
            Our tutors have experienced the tough times that all students face in progressing forward, having challenged and conquered these subjects.
          </p>
        </div>
      </div>
      <div class="col-md-6 md-6">
        <img src="{% static 'tutorsite/img/study.jpeg' %}" alt="" class="pic alignnone size-full wp-image-11341 img-fluid lazyloaded">
      </div>

    </div>
    <div class="row no-gutters align-items-center mt-4 mt-md-5" style="border: 1px solid #e1e1e1;">
      <div class="col-md-6">
        <img src="{% static 'tutorsite/img/study.jpeg' %}" alt="our approach" class="pic alignnone size-full wp-image-11497 img-fluid lazyloaded">
      </div>
      <div class="col-md-6">
        <div class="py-4 px-4 py-md-5 px-md-5">
          <h3>Our Approach<hr></h3>
          <p class="mb-0">Having the right tutor who understands the subject well has always been central to our goals.
          Our tutors are trained to identify the problem and approach it from bottom up. Understanding and having the right foundation
        for the subject will allow the student to build confidence and learning skills.</p>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</div>
{%endblock %}
