<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta content="ko" http-equiv="Content-Language">
    <meta charset="utf-8">
    <title>Zero to Hero Tutors</title>
    <!-- Boopstrap 4.0 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JS, Popper.js and jQuery -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- My Custom Css -->
    <link rel="stylesheet" href="{% static 'tutorsite/css/mycss.css' %}" type="text/css">
    <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body><br><br>
<div class="container">
  <nav class=" navbar fixed-top navbar-expand-md navbar-light bg-white">
    <div class="container">
  <a class="navbar-brand" href="{% url 'tutorsite:home'%}">
    <img src="{% static 'tutorsite/img/library-sm.png'%}"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav">
      <li class="nav-item">

        <a class="nav-link btn btn-outline-primary {% if nbar == 'home' %} active {% endif %}" href="{% url 'tutorsite:home' %}">HOME</a>

      </li>
      <li class="nav-item">
        <a class="element nav-link btn btn-outline-success {% if nbar == 'subjects' %} active {% endif %}" href="{% url 'tutorsite:subjects' %}">SUBJECTS</a>
      </li>
      <li class="nav-item">
        <a class="element nav-link btn btn-outline-warning {% if nbar == 'about' %} active {% endif %}" href="{% url 'tutorsite:about' %}">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="element nav-link btn btn-outline-secondary {% if nbar == 'pricing' %} active {% endif %}" href="{% url 'tutorsite:pricing' %}">PRICING</a>
      </li>
      <li class="nav-item">
        <a class="element nav-link btn btn-outline-info {% if nbar == 'contact' %} active {% endif %}" href="{% url 'tutorsite:contact' %}">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="element nav-link btn btn-outline-info" href="{% url 'tutorsitekr:home' %}">한국어</a>
      </li>

    </ul>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->


  </div>
</nav>
</div>
</div>
<br><br>
{% block content %}
{% endblock %}
  </body>
<br><hr><br>
<center>

</html>
<footer>Copyright © Joon Yi in 2018 using Django 2.0 </footer><br>
