{% extends 'tutorsite/base.html' %} {% load static %} {% block content %}
<div class="jumbotron text-center title">
  <h1>Contact Us</h1>
</div>
<div class="container">
<div class="row text-center no-gutters align-items-center mt-4 mt-md-5" style="border: 1px solid #e1e1e1;">
  <div class="col-md-6 md-6">
  <div class="cont container"><h5>You are only seconds away from speaking to our team!<br><br>
        Call / Email Us Today!<hr>
        213-605-1401<br><br>
        Joonyi@gmail.com</h5>

    </div>
  </div>

  <div class="col-md-6 md-6">
  <img src="{% static 'tutorsite/img/agent.jpg' %}" alt="" class="image alignnone  img-fluid lazyloaded">  </div>
</div>
</div>
</div><br><br>
<div class="container" style="background-color:white">
  <h5>Currently serving the following areas:<hr></h5><br>
  <br>
<div class="container">
  <div class="row text-center">

    <div class="col-sm-6 area">

        <img src="{% static 'tutorsite/img/map.png' %}"> Mid-City<br><br>
        <img src="{% static 'tutorsite/img/map.png' %}"> Beverly Hills<br><br>
        <img src="{% static 'tutorsite/img/map.png' %}"> Culver City
    </div>
    <div class="col-sm-6 area">

      <img src="{% static 'tutorsite/img/map.png' %}"> Santa Monica<br><br>
      <img src="{% static 'tutorsite/img/map.png' %}"> Koreatown<br><br>
      <img src="{% static 'tutorsite/img/map.png' %}"> West LA
    </div></div> </div></div>
{% endblock %}
