{% extends 'tutorsite/base.html' %} {% load static %} {% block content %}
<div class="jumbotron text-center title">
  <div>
    <h1>Elite Tutors</h1>
  </div>
  <hr><br>
  <h4>ACADEMIC TUTORING SERVICE IN LOS ANGELES AREA</h4><br>
  <h5>Give us a call today to start your session!</h5><br>
  <h4>213 - 605 - 1401</h4>
</div>
<br><br>
<div class="container" style="margin-top: 20px;">
  <div class="row text-center">
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/books1.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center" id="subjects">STEM Subjects!</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">From Algebra, Calculus and SAT Math to Astronomy, Chemistry and Physics. Test prep and AP too!</p>
      <div style="text-align: center;"><a href="{% url 'tutorsite:subjects' %}">View All Subjects</a></div>
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/books.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center" id="about">Great Tutors</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Our tutors are from reputable universities and full of knowledge in their field! Learn how they conquered their subjects! </p>
      <div style="text-align: center;"><a href="{% url 'tutorsite:about'%}">About Us</a></div>
    </div>

    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/talk.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center" id="contact">Focused</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Every session is one-to-one and personalized to your subject, your question, and your level.</p>
      <div style="text-align: center;"><a href="{% url 'tutorsite:contact' %}">Contact Us</a></div>
    </div>


  </div>
</div><br>
<hr>
<section class="section section-content py-4 light">
  <div class="container">
    <h3 class="m-4 text-center">Our Values</h3><br>
<div class="row text-center">
  <div class="col-6 col-sm-3 col-md-2 offset-md-1 py-3">
    <img src="{% static 'tutorsite/img/positive.png' %}"><br><br>
    <p>Stay positive, and stay focused</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
    <img src="{% static 'tutorsite/img/success.png' %}"><br><br>
      <p>Set goals and reach for excellence</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsite/img/creative.png' %}"><br><br>
    <p>Innovate quickly and continuously</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsite/img/fight.png' %}"><br><br>
  <p>Approach challenges with enthusiasm, not fear</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsite/img/running.png' %}"><br><br>
      <p>Be Persistent! Never give up!</p>
  </div>
</div>
<br><br>
<!-- Second Row in Our Values -->

  <div class="row text-center">
  <div class="col-6 col-sm-3 col-md-2 offset-md-1 py-3">
<img src="{% static 'tutorsite/img/handshake.png' %}"><br><br>
      <p>Treat everyone with dignity and respect.</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsite/img/feedback.png' %}"><br><br>
        <p>Engage in positive and constructive feedback. </p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsite/img/listen.png' %}"><br><br>
      <p>Be open minded to all decisions</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsite/img/balance.png' %}"><br><br>
    <p>Always do the right thing, no matter how hard it is.</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsite/img/reading.png' %}"><br><br>
      <p>Never stop learning! Always be a student in life.</p>
  </div>
</div></div>
    </section>


{% endblock %}
