{% extends 'tutorsite/base.html' %} {% load staticfiles %} {% block content %}

<div class="jumbotron text-center title">
  <div>
    <h1>Subjects</h1>
  </div>
  <hr><br><h4>We've got you covered!</h4><br>
  <h5>Get a tutor in math, science, AP courses and SAT test prep!</h5>
</div>
<br><br>
<div class="container">

  <div class="row text-center">
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/math1.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Mathematics</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">
        <ul>
          <li>Algebra</li>
          <li>Algebra 2</li>
          <li>Geometry</li>
          <li>Pre-Calculus / Trigonometry</li>
          <li>Calculus AB / BC</li>
          <li>Statistics</li>
        </ul>
      </p>
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/physics.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Physics</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Understand the mysterious ways our Universe works!<br>
        <ul>
          <li>Non-Calculus Based</li>
          <li>Calculus Based</li>
        </ul>
      </p>
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/astro.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Astronomy</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">From Galileo to Stephen Hawkings and from Milky Way Galaxy to Dark Matter!<br> <br>Learn what our universe is made of!
      <ul>
      <li>Big Bang, Dark Energy, Dark Matter...</li>
      <li>Neutron Stars, Pulsars, SuperNova...</li></p>
    </div>
  </div><br>
  <hr>
  <br>
  <div class="row text-center">
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/SAT1.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Test Prep</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Are you preparing for an Examination? Need Test Prep help?
        <ul>
          <li>SAT Math</li>
          <li>SAT Subject Test</li>
          <li>ACT Math</li>
          <li>ASVAB Math</li>
        </ul>
      </p>
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/coding.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Programming</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Do you want to learn how to make games, programs or websites?
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Python</li>
          <li>Django and more..</li>
        </ul>
      </p>
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/korea.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Korean Language</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Ever heard of BTS? Hottest KPop band in the world!<br><br>
      Learn how to read, speak and write Korean! Take lessons from a Native Korean speaker!</p>
    </div>
  </div><br>
  <hr>
<br>

  <div class="row text-center">
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/chemistry.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Chemistry</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Learn chemical structures, reactions and how it all works!
        <ul>
          <li>Atomic Theory</li>
          <li>Molecular Structure</li>
          <li>Chemical Equilibrium</li>
          <li>Chemical Reactions...</li></ul></p>
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/test.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">AP Class</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Do you need help with your AP class or to prepare for AP Exam?<br>
      <ul>
      <li>AP Calculus AB & BC</li>
      <li>AP Physics</li>
      <li>AP Chemistry **</li>
      <li>AP Statistics **</li>
    </p>** courses not available yet
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsite/img/advice.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center">Computer Study / Help</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">Do you need help with computer use? We can help you.<br>

    <ul>
    <li>Microsoft Office: Word, Excel, Powerpoint</li>
    <li>Internet Connection, Setup</li>
    <li>Emails, Fax, Scanner</li>
    <li>Photo / Video Transfer, Torrents</li>
    <li>Ask us about anything you need help with!</p>
    </div>
      <hr>
    </div>
  </div>
</div>
</div><br>
{% endblock %}
