{% extends 'tutorsitekr/base.html' %} {% load static %} {% block content %}
<div class="jumbotron text-center title">
  <h1>회사 소개<hr></h1><br>
  <h5>우리는 성공하고자하는 학생들을 돕기 위한 선생님들로 구성된 팀입니다<br><br>
  저희도 학교 과정을 다 겪은 경험이 있어 그 느낌을 다 압니다. 저의에 도움으로 끝까지 같이 가세요!</h5>
</div>

<section class="section section-content py-4 white">
  <div class="container">
    <div class="row no-gutters align-items-center" style="border: 1px solid #e1e1e1;">
      <div class="col-md-6 text-center">
        <img src="{% static 'tutorsitekr/img/joon.png'%}" alt="Our founder, Joon Yi" class=" alignnone imageclip  wp-image-10621 img-fluid lazyloaded">
      </div>
      <div class="col-md-6">
        <div class="py-4 px-4 py-md-5 px-md-5">
          <h3>과외 설립<hr></h3>
          <p class="mb-0">학생들이 학업 목표를 달성 할 수 있도록 돕기 위해 과외을 설립했습니다.</p><br>
          <p> UCLA에서 천체 물리학 학사 학위를 취득하는 과정중 다양한 학생들을 가르치면서, 문제를 쉽게 설명할수있는 교사가 장점이라는 것을 깨달았습니다. <br>
          <br>
            학교 개인적 경험으로는 AP 생물학, AP 화학, AP 미적분학, AP 물리학 과 SAT 수학 800점 만점. 참여한 활동 중 일부는
            Science Bowl 과학 시험, Academic Decathlon 학문적 인 10 종 경기 와 Mock Trial 라는 모의 재판에서 검찰 및과 국방부의 역할을 맡은 경험도 있읍니다.</p>
      </div>
      </div>
    </div>


    <div class="row no-gutters align-items-center mt-4 mt-md-5" style="border: 1px solid #e1e1e1;">
      <div class="col-md-6 md-6">
        <div class="py-4 px-4 py-md-5 px-md-5">
          <h3>겸손한 시작<hr></h3>
          <p class="mb-0">단일 수학 교사 세션을 시작으로, Elite 과외는 도움을 요청하는 학생들을 돕는 사업으로 빠르게 성장하고 있읍니다.
            저의 교사들은 모든 학생들이 도전울 하고 정복을 하는 어려운시기를 다 직접 경험을 한 선생님입니다.
          </p>
        </div>
      </div>
      <div class="col-md-6 md-6">
        <img src="{% static 'tutorsitekr/img/study.jpeg' %}" alt="" class="pic alignnone size-full wp-image-11341 img-fluid lazyloaded">
      </div>

    </div>
    <div class="row no-gutters align-items-center mt-4 mt-md-5" style="border: 1px solid #e1e1e1;">
      <div class="col-md-6">
        <img src="{% static 'tutorsitekr/img/study1.jpeg' %}" alt="our approach" class="pic alignnone size-full wp-image-11497 img-fluid lazyloaded">
      </div>
      <div class="col-md-6">
        <div class="py-4 px-4 py-md-5 px-md-5">
          <h3>우리의 사명<hr></h3>
          <p class="mb-0">주제를 잘 이해하는 올바른 교사는 항상 우리 목표의 핵심입니다.
          우리 강사는 문제를 파악하고 그것을 시작에서 끝까지 도울수 있는 실력이 있읍니다. 올바른 토대를 이해하고
        학생이 자신감과 학습 기술을 키울 수있게 해줄 것입니다.</p>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</div>
{%endblock %}
