{% extends 'tutorsitekr/base.html' %} {% load static %} {% block content %}

<div class="container-fluid title">
  <div><br>


    <h1>Elite Tutors</h1>
  </div>
  <hr><br>
  <h4>로스 앤젤레스 지역의 아카데미 과외 서비스</h4><br>
  <h5>과외 세션을 시작하려면 오늘 전화주세요!</h5><br>
  <h4>213 - 605 - 1401<h4><br>
</div>
<br><br>
<div class="container" style="margin-top: 20px;">
  <div class="row text-center">
    <div class="col-sm-4">
      <img src="{% static 'tutorsitekr/img/books1.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center" id="subjects">STEM 과목!</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">대수학부터, 미적분학 과 SAT 수학, 그리고 천문학, 화학과 물리학까지. 시험준비와 AP 수업!</p>
      <div style="text-align: center;"><a href="{% url 'tutorsitekr:subjects' %}">모든 주제보기</a></div>
    </div>
    <div class="col-sm-4">
      <img src="{% static 'tutorsitekr/img/books.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center" id="about">분야별 전문가 강사</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">우리 교사들은 평판 좋은 대학 출신이고 그들의 분야에서 많은 지식을 가지고 있습니다!
        그들이 어떻게 그들의 과목을 정복했는지 배우십시오!</p>
      <div style="text-align: center;"><a href="{% url 'tutorsitekr:about'%}">회사 소계</a></div>
    </div>

    <div class="col-sm-4">
      <img src="{% static 'tutorsitekr/img/talk.png'%}" class="img-responsive" style="max-width: 100px; margin: 20px auto;">
      <h3 class="text-center" id="contact">집중</h3>
      <hr>
      <p class="text-center" style="padding: 0px 30px;">모든 세션은 일대일로 진행되며 주제, 질문 및 레벨에 맞춤화됩니다.</p>
      <div style="text-align: center;"><a href="{% url 'tutorsitekr:contact' %}">연락 주세요!</a></div>
    </div>


  </div>
</div><br>
<hr>
<section class="section section-content py-4 light">
  <div class="container">
    <h3 class="m-4 text-center">우리의 마음</h3><br>
<div class="row text-center">
  <div class="col-6 col-sm-3 col-md-2 offset-md-1 py-3">
    <img src="{% static 'tutorsite/img/positive.png' %}"><br><br>
    <p>긍정적 인 자세를 유지하고 집중력을 유지</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
    <img src="{% static 'tutorsitekr/img/success.png' %}"><br><br>
      <p>목표를 설정하고 우수성에 도달</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsitekr/img/creative.png' %}"><br><br>
    <p>신속하고 지속적으로 혁신</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsitekr/img/fight.png' %}"><br><br>
  <p>두려움이 아닌 열정으로 도전에 도전</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsitekr/img/running.png' %}"><br><br>
      <p>끈질기고 절대 포기하지 않기</p>
  </div>
</div>
<br><br>
<!-- Second Row in Our Values -->

  <div class="row text-center">
  <div class="col-6 col-sm-3 col-md-2 offset-md-1 py-3">
<img src="{% static 'tutorsitekr/img/handshake.png' %}"><br><br>
      <p>모든 사람을 존엄과 존경심으로 대하기</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsitekr/img/feedback.png' %}"><br><br>
        <p>긍정적이고 건설적인 피드백에 참여하기</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsitekr/img/listen.png' %}"><br><br>
      <p>모든 결정에 마음을 열기</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsitekr/img/balance.png' %}"><br><br>
    <p>아무리 어려운 일이라도 항상 옳은 일을하기</p>
  </div>
  <div class="col-6 col-sm-3 col-md-2 py-3">
<img src="{% static 'tutorsitekr/img/reading.png' %}"><br><br>
      <p>절대 배우는걸 그만두지 마라! 항상 인생의 학생이 되기</p>
  </div>
</div></div>
    </section>


{% endblock %}
