body {
  font-family: 'Montserrat', sans-serif;
  background-color:
}

li.active > a {
  color: blue !important;
}

.nav-item {
  letter-spacing: .1em;
  font-size: 14px;
  text-transform: uppercase;
}

.catname {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.prodcollect {
  font-size:14px;
  text-transform: uppercase;
}


/*** FOOTER ***/
.my_footer {
  background-color: #f8f9fa;
  height: 60px;
}

.my_footer p {
  padding-top: 20px;
  font-size: 14px;
}

/**** CATEGORY PAGE ****/
.my_row_class {
  padding-top: 20px !important
}

.my_row_class .mx-auto p {
  color:#000;
  font-size: 18px;
}

.my_row_class .mx-auto p a{
  color: #000;
  font-size: 18px;
  text-decoration: none
}

.catimage {
  height: 250px;
}

.my_title {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.my_title_desc {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.catdescription {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my_image_padding {
  padding-top: 5px !important;
}

.ourprodimage {
  padding-top: 5px;
  padding-bottom: 5px;
}

.my_bottom_margin {
  margin-bottom: 20px;
}

.card-body h4 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: bold;
}

.my_image {
  padding: 15px;
}

*** PRODUCT PAGE ****/
.my_prod_row_class {
  padding-top: 15px;
  padding-bottom: 20px;
}

.my_prod_row_class .mx-auto p{
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
}

.my_prod_row_class p a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.my_prod_title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 85px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.prod_image {
  height:500px;
}

.prod_price {
  font-size: 18px !important;
  font-weight: 900 !important;
}

.my_desc_title{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-decoration: underline;
  padding-top: 25px;
}

.my_prod_text {
  padding-right: 20px;
}

.my_prod_text_out {
  font-size: 18px;
  font-weight: 900;
}

.my_search_text {
  padding-top: 20px;
  font-size: 18px;
  letter-spacing: .2em;
  padding-bottom: 20px;
  font-weight: bold;
}

/**** Cart Page ****/
.my_custom_table {
  min-width: 400px;
  font-size: 14px;
}

.my_custom_thead {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: .2em;
  background-color: #f8f9fa !important;
  font-size: 18px;
}

.custom_image {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
.custom_a {
  text-decoration: none
}

.custom_icon {
  text-decoration: none;
  color: #868e96 !important;
}

.my_custom_button {
  margin-top: 5px;
}

.cart_total {
  font-size: 18px;
}

.item_info {
  font-size: 16px;
}


/*** STRIPE BUTTON ***/
.stripe-button-el {
  width: 100% !important;
  display:block !important;
  background-color:  green !important;
  background-image: none !important;
}

.stripe-button-el span {
  display: block ;
  position: relative;
  padding: 0px 12px;
  height: 36px !important;
  line-height: 36px !important;
  font-family: 'Montserrat' !important;
  font-size: 16px !important;
  color: white !important;
  background-image: none !important;
  background: none !important
}


.errorlist li{
  color:red;
  font-weight: bold;
}

.my_custom_div{
  margin-bottom: 20px !important
}

.my_top_navbar_div {
  height:60px;
  line-height: 50px
}

.my_custom_menu {
  text-align: right !important
}

.my_custom_menu ul li {
  list-style: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 12px;
  padding-right: 20px;
  display: inLine;
}

.my_custom_menu ul li a {
  text-decoration: none;
  color: #000;
  list-style: none;
  text-transform: uppercase;;
  letter-spacing: .2em;
  font-size: 12px;
}
