<nav class="navbar navbar-expand-lg navbar-light bg-light my-4">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
        <a class="nav-item nav-link {% if request.resolver_match.url_name == 'home' %} active{% endif %}" href="{% url 'shop:allProdCat' %}">All Products</a>
        {% for cat in links %}
        <a class="nav-item nav-link" href="{{ cat.get_url }}">| {{ cat.name }}</a>
        {% endfor %}
        {% if item_count > 0 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart:cart_detail' %}">| <i class="fas fa-shopping-cart"></i> ({{ item_count }})</a></li>

        {% endif %}
</ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search:searchResult' %}" method="GET">
          {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>

  </div>
</nav>
</nav>
