{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
    {{ category.description|truncatewords:155 }}
  {% else %}
    Welcome to the LA Sports Store where you can buy products from your favorite teams!
  {% endif %}
{% endblock metadescription%}

{% block title %}
  {% if category %}
    {{ category.name }} - LA Sports Store
  {% else %}
    See Our Sports Collection - LA Sports Store
  {% endif %}
{% endblock title %}

{% block body %}
  {% if category %}
    <div class="row my_row_class">
      <div class="mx-auto">
        <p><a href="{% url 'shop:allProdCat' %}" class="my_title">Our Product Collection |</a> <span class="catname "> {{ category.name }}</span></p>
      </div>
    </div>
    <div class="mx-auto text-center">
    <img src=" {{ category.image.url }}" class="catimage" alt="{{ category.name }}">
    <div>
      <h3 class="text-center my_title mb-4">{{ category.name }}</h3>
      <p class="text-justify my_title_desc">{{ category.description }}<p>
    </div>
    {% else %}
    <div class="text-center ourprodimage">
      <img class="my_image my_image_padding" src="{% static 'img/la.jpg' %}" alt="Our Products Collection">
    </div><br>
    <div>
      <h1 class="text-center my_title">Our Products Collection</h1>
      <p class="text-justify my_title_desc">Finding that perfect memorabilia to represent your favorite Los Angeles team means taking your passion for the
        team to the next level! </p>
      </div>
    {% endif %}
    <div class="container">
      <div class="row mx-auto">
        {% for product in products %}
          <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4 ">
            <div class="card text-center" style="min-width: 1rem;">
              <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" class="catimage"alt="{{ product.name }}"></a>
              <div class="card-body">
                <h4>{{ product.name }}</h4>
                <p class="prod_price"><b>${{ product.price }}</b></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="mx-auto">
          {% if products.paginator.num_pages > 1%}
            <hr>
            <div class="text-center">
              {% for pg in products.paginator.page_range %}
                <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{ pg }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <br>
    </div>
{% endblock body %}
