{% extends 'base.html'%} {% block body %} {% load static %}

<div class="container-fluid p-0 text-center">

  <section class="resume-section" id="about">

      <h1 class="mb-0"><span class="text-primary">Python</span>
          <span class="text-secondary">Django</span> Developer
        </h1><br><br>
      <div class="subheading mb-5">Based in Los Angeles, CA · (213) 605 - 1401 ·
        <a href="mailto:joonyi@gmail.com">joonyi@gmail.com</a>
      </div>
  </section>

  <!-- <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto"> -->
  <!-- <h2 class="mb-5 text-center"><u>Experience</u></h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Senior Web Developer</h3>
            <div class="subheading mb-3">Intelitec Solutions</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Web Developer</h3>
            <div class="subheading mb-3">Intelitec Solutions</div>
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2011 - March 2013</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Junior Web Designer</h3>
            <div class="subheading mb-3">Shout! Media Productions</div>
            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2010 - December 2011</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Web Design Intern</h3>
            <div class="subheading mb-3">Shout! Media Productions</div>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2008 - June 2010</span>
          </div>
        </div>

      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">University of Colorado Boulder</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science - Web Development Track</div>
            <p>GPA: 3.23</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2006 - May 2010</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">James Buchanan High School</h3>
            <div class="subheading mb-3">Technology Magnet Program</div>
            <p>GPA: 3.56</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2002 - May 2006</span>
          </div>
        </div>

      </div>
    </section> -->

  <section class="resume-section p-lg-2  flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5 mainhead"><u>Technical Skills</u></h2>

      <ul class="list-inline list-icons">
        <li class="list-inline-item">
        <i class="devicon-html5-plain-wordmark colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-javascript-plain"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-django-plain colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-python-plain-wordmark colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-css3-plain-wordmark colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-apple-original colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-bootstrap-plain-wordmark colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-mongodb-plain-wordmark colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-github-plain-wordmark colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-express-original colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-nodejs-plain colored"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-windows8-original colored"></i>
        </li>


      </ul><br><br>

      <!-- <div class="subheading mb-3">Workflow</div> -->
        <div class="subheading mb-3">
        <h3><u>Programming / Data Analysis</u></h3></div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          <h6>PYTHON : Numpy, Pandas, Seaborn, Matplotlib </h6></li>
        <li>
        <i class="fa-li fa fa-check"></i>
          <h6>R , Tableau </h6></li>
        <li>
        <i class="fa-li fa fa-check"></i>
          <h6>Windows, Mac, Linux (some experience)</h6></li><br><br></ul>

        <div class="subheading mb-3">
        <h3><u>Web Design</u></h3></div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          <h6>HTML5, CSS, JSON, jQuery, GitHub, Bootstrap, RESTful API</h6></li>
        <li>
          <i class="fa-li fa fa-check"></i>
          <h6> Django Web Framework, Flask</h6></li>
        <li>
          <i class="fa-li fa fa-check"></i>
          <h6> JavaScript, Node.js, Express.js</h6></li>
      </ul>

    <br><br>
    <div class="subheading mb-3">
      <h3><u>Tools</u></h3></div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>DATABASE : PostgreSql, MongoDB, SQLite, SQAlchemy</h6></li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>WEBSCRAPING : Selenium, BeautifulSoup, Scrapy ( in progress )</li></ul><br><br>

    <div class="subheading mb-3">
      <h3><u>Plan to Learn</u></h3></div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>Machine Learning, SciKit, Tensor Flow, Keras</h6></li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>Big Data, Hadoop / Spark, TDD, SASS</h6></li>
    </ul><br><br>

    <div class="subheading mb-3">
      <h3><u>Sample Projects</u></h3></div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>Using BeautifulSoup and Selenium, scraped webites to get data from tables and parsed HTML file</h6></li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>Imported data into Pandas DataFrame and using Matplotlib / Seaborn, created visualization for analyzation</h6></li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>Exported data to Excel / CSV format and also to Postgresql database using SQLAlchemy</h6></li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <h6>Blog / Resume Website using Django</h6></li>
    </ul>
</div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5 mainhead"><u>Other Skills / Qualifications</u></h2>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Fluent in English and Korean (Writing, Reading, Speaking)</li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Type 80 WPM+ and 10 Key by Touch</li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Scored Perfect 800 in SAT Math</li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Multivariable Calculus, Linear Algebra, Ordinary Differential Equations,
      Partial Differential Equations, Physics Knowledge (Classical Mechanics, E&M, Quantum Mechanics), Astronomy</li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Microsoft Excel, Word, Powerpoint, Spreadsheets</li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Strong Analytical, Quantitative skills and Detail Oriented </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Experience in Real Estate, Marketing, Sales, Cryptocurrency, Stock Market</li>
    </ul>
  </div>
</section>


<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
  <div class="my-auto">
    <h2 class="mb-5 mainhead"><u>Interests</u></h2>
    <p>Apart from being a web developer, I enjoy most of my time being outdoors. I enjoy playing basketball, playing golf, going on hikes, bowling, bicycling, going to the gym, and camping.</p>
    <p class="mb-0">When forced indoors, I enjoy watching Sci-Fi, fantasy, thriller, action , myster genre movies and television shows as well as surfing Youtube. I am an avid video game player having played Counter-Strike,
      World of Warcraft and League of Legends. I also spend a large amount of my free time learning new skills to advance my knowledge in web design and web applications, mostly on Python platform. I'm also
     learning to be a daytrader as well as crafting my real estate skills. Life is short and there's never enough time!</p>
  </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5 mainhead"><u>Education</u></h2>

    <div class="resume-item flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">University of California, Los Angeles (UCLA) - Go Bruins!</h3><br>
        <div class="subheading mb-3">Bachelor of Science</div>
        <div>MAJOR : ASTROPHYSICS</div>
      </div>

    </div>

    <div class="resume-item  flex-column flex-md-row">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Venice Magnet High School</h3>
        <div class="subheading mb-3">Graduated with High Honors</div>
      </div>

    </div>

  </div>
</section>

</div>

{% endblock body%}
